@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, table, tbody, p, th, td, em, samp {
    -webkit-text-size-adjust: none;
    margin: 0;
    padding: 0;
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Microsoft Yahei", "微软雅黑";
}

html, body {
    height: 100%;
}

img, input, button, a, select, textarea {
    margin: 0;
    padding: 0;
    resize: none;
    border: none;
    outline: none;
}

ol, ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, em, i, b, em {
    font-size: 100%;
    word-wrap: break-word;
    font-weight: normal;
    font-style: normal;
}

a:active, a:focus {
    outline: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}