<%
   image_first = images.first
%>
<%= link_to(image_tag(image_first.image.thumb.url, width: 220), image_first.image.url, class: 'fancybox', rel: gallery, title: image_first.caption) %>
<div class="hidden">
  <% images[1, images.size].each do |image| %>
      <%= link_to(image_tag(image.image.thumb.url, width: 220), image.image.url, class: 'fancybox', rel: gallery, title: image.caption) %>
  <% end %>
</div>