<div class="panel">
  <h3>订单情况</h3>

  <div id="placeholder1" style="height:400px;"></div>
</div>

<script type="text/javascript">
    $(function () {
        var a1 = [[0, 3], [1, 19], [2, 15], [3, 5], [4, 11]];
        var a2 = [[0, 8], [1, 6], [2, 12], [3, 10], [4, 1]];
        var a3 = [[0, 3], [1, 12], [2, 11], [3, 2], [4, 13]];

        var data = [
            {
                label: "France",
                data: a1
            },
            {
                label: "Germany",
                data: a2
            },
            {
                label: "Italy",
                data: a3
            }
        ];

        $.plot($("#placeholder1"), data, {
            series: {
                bars: {
                    show: true,
                    barWidth: 0.13,
                    order: 1
                }
            },
            valueLabels: {
                show: true
            }
        });
    });
</script>

