<div class="panel">
  <h3>订单情况</h3>

  <div class="panel_contents" id="appointment" style="min-height: 400px">﻿</div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var series = [{
            data: [
                [0, 100],
                [1, 150],
                [2, 125],
                [3, 160],
                [4, 95]
            ],
            label: "Series 1"
        },
            {
                data: [
                    [0, 20],
                    [1, 35],
                    [2, 20],
                    [3, 35],
                    [4, 35]
                ],
                label: "Series 2"
            }, {
                data: [
                    [0, 55],
                    [1, 40],
                    [2, 60],
                    [3, 10],
                    [4, 20]
                ],
                label: "Series 3"
            }];

        function plotWithOptions() {
            $.plot("#appointment", series, {
                series: {
                    stack: true,
                    bars: {
                        show: true,
                        barWidth: 0.5
                    }
                }
            });
        }

        plotWithOptions();
    });
</script>

