<script type='text/javascript'>
    $(document).ready(function () {
        var a1 = [[0, 3], [1, 19], [2, 15], [3, 5]];
        var a2 = [[0, 8], [1, 6], [2, 12], [3, 10]];
        var a3 = [[0, 3], [1, 12], [2, 11], [3, 2]];

        var data = [
            {
                color: '#FF0000',
                data: a1
            },
            {

                color: '#00FF00',
                data: a2
            },
            {
                color: '0000FF',
                data: a3
            }
        ];

        $.plot($("#placeholder1"), data, {
            series: {
                bars: {
                    show: true,
                    barWidth: 0.13,
                    order: 1
                }
            },
            colors: ['#FF0000', '#00FF00', '#0000FF'],
            valueLabels: {
                show: true
            }
        });

    });
</script>
<div class="panel">
  <h3>私教订单情况</h3>

  <div class="panel_contents" id="placeholder1" style="min-height: 400px">﻿</div>
  <div style="text-align: center">
    <button style="background-color: #FF0000"/>
    1
  </div>
</div>
