<div class="panel">
  <h3>订单情况</h3>

  <div class="panel_contents" id="appointment" style="min-height: 400px">﻿</div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var series = [{
            data: [
                [0, 100],
                [1, 150],
                [2, 125],
                [3, 160],
                [4, 95]
            ]
        },
            {
                data: [
                    [0, 20],
                    [1, 35],
                    [2, 20],
                    [3, 35],
                    [4, 35]
                ]
            }, {
                data: [
                    [0, 55],
                    [1, 40],
                    [2, 60],
                    [3, 10],
                    [4, 20]
                ]
            }];

        function plotWithOptions() {
            $.plot("#appointment", series, {
                xaxis: {
                    minTickSize: 0.1
                },
                series: {
                    stack: true,
                    bars: {
                        show: true,
                        barWidth: 0.5
                    }
                },
                tooltip: true,
                tooltipOpts: {
                    id: "chart-tooltip",
                    content: "<p><b>20</b> Outgoing Filings</p>" +
                    "<p>Out of <b>10</b> committed;</p>" +
                    "<br />" +
                    "<p><b>30%</b>% Ratio</p>",
                    shifts: {
                        x: -74,
                        y: -125
                    },
                    lines: {
                        track: true
                    },
                    compat: true
                }
            });
        }

        plotWithOptions();
    });
</script>

