<script type="text/javascript">

    $(function () {
        var data = [
            {
                name: '担保订单',
                value: [45, 52, 54, 74, 90, 84],
                color: '#1385a5'
            },
            {
                name: '普通订单',
                value: [60, 80, 105, 125, 108, 120],
                color: '#c56966'
            }
        ];
        var chart = new iChart.ColumnMulti2D({
            render: 'appointment',
            data: data,
            labels: ["一月", "二月", "三月", "四月", "五月", "六月"],
            title: '私教预约情况',
            width: 1000,
            height: 400,
            background_color: '#ffffff',
            legend: {
                enable: true,
                background_color: null,
                border: {
                    enable: false
                }
            },
            coordinate: {
                background_color: '#f1f1f1',
                scale: [{
                    position: 'left',
                    start_scale: 0,
                    end_scale: 140,
                    scale_space: 20
                }],
                width: 600,
                height: 260
            }
        });
        chart.draw();
    });
</script>
<div class="panel">
  <h3>私教订单情况</h3>

  <div id='appointment'></div>
</div>