<%= form_tag('', remote: true) do %>
    <div id="transfer_errors"/>
    <table>
      <tr>
        <td><label>选择服务号</label></td>
        <td></td>
      </tr>
    </table>
    <%= submit_tag('提交') %>
<% end %>