<%= form_tag(service_withdraw_path(@service), remote: true, html: {class: 'form-horizontal'}) do %>
    <fieldset class="inputs">
      <legend><span>添加团操</span></legend>
      <table>
        <tr>
          <td><label></label></td>
          <td><%= text_field %></td>
        </tr>
      </table>
    </fieldset>
    <%= submit_tag('提交') %>
<% end %>