<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0">
<link type="text/css" rel="stylesheet" href="css/style.css">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/public.js"></script>
<title>美型网</title>
</head>
<body>
<header class="hdcon">
    <a class="return">返回</a>
    <h3>修改密码</h3>
</header>
<section class="tb_bor mint10">
	<ul class="login_pass">
   		<li><input type="password" class="inp" placeholder="验证原密码"></li>
    </ul>
</section>
<section class="tb_bor mint10">
	<ul class="login_pass">
   		<li><input type="password" class="inp" placeholder="输入新密码"></li>
   		<li><input type="password" class="inp" placeholder="重复新密码"></li>
    </ul>
</section>
<div class="footbut footbot_r">
	<a class="qrks">提交修改</a>
</div>

</body>
</html>
