<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0">
<link type="text/css" rel="stylesheet" href="css/style.css">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/public.js"></script>
<title>美型网</title>
</head>
<body>
<header class="hdcon">
    <a class="return">返回</a>
    <h3>上课场馆</h3>
    <a class="set_up">确定</a>
</header>
<section class="tb_bor skcgbox">
	<dl>
    	<dt>
       		<h3>一兆韦德</h3>
           <p>上海市上海市逸仙路499弄江湾大厦12楼201</p>
       	</dt>
       	<dd>
       <input id="radio_1" class="radio" name="radio" type="radio" checked>
		<label for="radio_1" class="trigger"></label></dd>
   	</dl>
	<dl>
    	<dt>
       		<h3>中田健身工作室</h3>
           <p>上海市上海市逸仙路499弄江湾大厦12楼201</p>
       	</dt>
       	<dd>
       <input id="radio_2" class="radio" name="radio" type="radio">
		<label for="radio_2" class="trigger"></label></dd>
   	</dl>
	<dl>
    	<dt>
       		<h3>诺宝健身会所</h3>
           <p>上海市上海市逸仙路499弄江湾大厦12楼201</p>
       	</dt>
       	<dd>
       <input id="radio_3" class="radio" name="radio" type="radio">
		<label for="radio_3" class="trigger"></label></dd>
   	</dl>
</section>
<div class="ht50"></div>
<div class="footbut">
	<a href="#" class="lxbut" style="width:100%"><i class="jia"></i>联系学员</a>
</div>


 
</body>
</html>
