<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0">
<link type="text/css" rel="stylesheet" href="css/style.css">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/public.js"></script>
<title>美型网</title>
</head>
<body>
<header class="hdcon">
    <a class="return">返回</a>
    <h3>联系学员</h3>
</header>
<section class="xylist">
	<dl>
    	<dt><img src="pic/touxiang.jpg"></dt>
       	<dd>
       		<h3>Lucy</h3>
           <p><i class="woman">22</i></p>
           <div class="text">现在才发现我的依赖上美型了...</div>
           <em>联系</em>
       	</dd>
   	</dl>
	<dl>
    	<dt><img src="pic/touxiang.jpg"></dt>
       	<dd>
       		<h3>娜娜</h3>
           <p><i class="woman">22</i></p>
           <div class="text">现在才发现我的依赖上美型了...</div>
           <em>联系</em>
       	</dd>
   	</dl>
	<dl>
    	<dt><img src="pic/touxiang.jpg"></dt>
       	<dd>
       		<h3 class="red">爱笑的眼睛</h3>
           <p><i class="woman">22</i><i class="ico1">V</i><i class="ico2">官</i><i class="ico3">证</i><i class="ico4">教</i><i class="ico5">力</i></p>
           <div class="text">现在才发现我的依赖上美型了...</div>
           <em>联系</em>
       	</dd>
   	</dl>
	<dl>
    	<dt><img src="pic/touxiang.jpg"></dt>
       	<dd>
       		<h3>郭采洁</h3>
           <p><i class="man">22</i><i class="ico1">V</i><i class="ico2">官</i><i class="ico3">证</i><i class="ico4">教</i><i class="ico5">力</i></p>
           <div class="text">现在才发现我的依赖上美型了...</div>
           <em>联系</em>
       	</dd>
   	</dl>
	<dl>
    	<dt><img src="images/userico.png"></dt>
       	<dd>
       		<h3>Lucy</h3>
           <em>联系</em>
       	</dd>
   	</dl>
</section>


 
</body>
</html>
