<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0">
<link type="text/css" rel="stylesheet" href="css/style.css">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/public.js"></script>
<title>美型网</title>
</head>
<body>
<header class="hdcon">
    <a class="return">返回</a>
    <h3>意见反馈</h3>
</header>
<section class="tb_bor">
	<ul class="opinion">
   		<li><textarea placeholder="感谢你关注美型，希望您能提出宝贵的建议。"></textarea></li>
    </ul>
</section>
<section class="tb_bor mint15">
	<ul class="login_pass">
   		<li><input class="inp" type="text" placeholder="输入您的邮箱 / 手机号"></li>
    </ul>
</section>
<div class="footbut footbot_r">
	<a class="qrks">提交修改</a>
</div>

</body>
</html>
