<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0">
<link type="text/css" rel="stylesheet" href="css/style.css">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/public.js"></script>
<title>美型网</title>
</head>
<body>
<header class="hdcon">
    <a class="return">返回</a>
    <h3>邀请线下学员</h3>
    <a class="set_up">修改</a>
</header>
<section class="tb_bor listbox">
	<dl>
    	<dt>学员姓名</dt>
       	<dd>凝凝</dd>
   	</dl>
	<dl>
    	<dt>手机号码</dt>
       	<dd>15683977463</dd>
   	</dl>
</section>
</body>
</html>
