<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0">
<link type="text/css" rel="stylesheet" href="css/style.css">
<title>美型网</title>
</head>
<body class="loginbg">
<div class="login">
	<dl>
    	<dt>用户名</dt>
		<dd><input type="text" placeholder="输入美型号/手机号"</dd>
    </dl>
	<dl>
    	<dt>密码</dt>
		<dd><input type="password" placeholder="输入美型号/手机号"</dd>
    </dl>
    <div class="wjmm"><a href="#">忘记密码？</a></div>
    <button>登录</button>
</div>

</body>
</html>
