<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0">
<link type="text/css" rel="stylesheet" href="css/style.css">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/public.js"></script>
<title>美型网</title>
</head>
<body>
<header class="my_account">
    <a class="set_up">设置</a>
</header>
<section class="myxxi">
	<dl>
    	<dt><img src="pic/touxiang.jpg"></dt>
        <dd>
            <h3>爱笑的眼睛</h3>
            <p>美型号：182465803</p>
            <p><i class="woman">女</i><i class="ico1"></i><i class="ico2"></i><i class="ico3"></i></p>
        </dd>
    </dl>
</section>
<section class="tb_bor listbox">
    <dl>
    	<dt><img src="images/kcico11.png">美型钱包</dt>
        <dd><em></em></dd>
    </dl>
</section>
<!--底部-->
<div class="ht70"></div>
<footer>
	<ul>
    	<li><a class="nav1"><i></i><span>课表</span></a></li>
    	<li><a class="nav2"><i></i><span>在售课程</span></a></li>
    	<li><a class="nav3"><i></i><span>订单</span></a></li>
    	<li class="cur"><a class="nav4"><i></i><span>我的</span></a></li>
	</ul>
</footer>
 
</body>
</html>
