<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0">
<link type="text/css" rel="stylesheet" href="css/style.css">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/public.js"></script>
<title>美型网</title>
</head>
<body>
<header class="hdcon">
    <a class="return">返回</a>
    <h3>账户明细</h3>
</header>
<section class="tb_bor listbox details">
	<dl>
    	<dt>上课提成
       		<p>2015-4-22 12:34</p> 
       		<p>流水号：20154221234</p> 
       	</dt>
       	<dd><span class="green">￥970.00</span><em></em></dd>
   	</dl>
	<dl>
    	<dt>卖课收入
       		<p>2015-4-22 12:34</p> 
       		<p>流水号：20154221234</p> 
       	</dt>
       	<dd><span class="green">￥970.00</span><em></em></dd>
   	</dl>
	<dl>
    	<dt>提现
       		<p>2015-4-22 12:34</p> 
       		<p>流水号：20154221234</p> 
       	</dt>
       	<dd><span class="orange">-￥970.00</span><em></em></dd>
   	</dl>
	<dl>
    	<dt>卖课提成
       		<p>2015-4-22 12:34</p> 
       		<p>流水号：20154221234</p> 
       	</dt>
       	<dd><span class="green">￥970.00</span><em></em></dd>
   	</dl>
	<dl>
    	<dt>上课收入
       		<p>2015-4-22 12:34</p> 
       		<p>流水号：20154221234</p> 
       	</dt>
       	<dd><span class="green">￥970.00</span><em></em></dd>
   	</dl>
	<dl>
    	<dt>卖课收入
       		<p>2015-4-22 12:34</p> 
       		<p>流水号：20154221234</p> 
       	</dt>
       	<dd><span class="green">￥970.00</span><em></em></dd>
   	</dl>
</section>

</body>
</html>
