<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0">
<link type="text/css" rel="stylesheet" href="css/style.css">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/public.js"></script>
<title>美型网</title>
</head>
<body>
<header class="hdcon">
    <a class="return">返回</a>
    <h3>设置</h3>
</header>
<section class="tb_bor listbox">
	<dl>
    	<dt>修改密码</dt>
       	<dd><em></em></dd>
   	</dl>
	<dl>
    	<dt>意见反馈</dt>
       	<dd><em></em></dd>
   	</dl>
</section>
<section class="tb_bor listbox">
	<dl>
    	<dt>联系我们</dt>
       	<dd>021-8000098<em></em></dd>
   	</dl>
</section>
<div class="ht50"></div>
<div class="footbut">
	<a href="#" class="qrks tuichu">退出登录</a>
</div>
</body>
</html>
