#header{ background-color: #234969; padding:15px 10px; color: #77a2c5;}
#header nav ul{display: flex; border-radius:3px; border: 1px solid #77a2c5; overflow: hidden;}
#header nav ul li{flex:1;text-align: center;font-size: 13px; height: 26px; line-height: 26px;cursor: pointer;}
.TabTitle .active{background: #77a2c5;color: #234969;}
.TabTitle .normal{color: #77a2c5;}
.TabContent{display: block; margin: 25px 0 0 0 ;}
.Turnover ul{display: flex;}
.summary-a{ width: 36%;}
.platform{width:64%; padding-left: 1px;}
.platform ul{display: flex;}
.platform ul li{flex:1;}
.Turnover ul li span{ font-size: 13px; color: #8d97a6; margin-left:10px;}
.Turnover ul li p{ font-size:30px; color: #fff;margin-left:10px;}
.platform ul li span{ font-size: 13px; color: #8d97a6; margin-left:10px;}
.platform ul li p{ font-size:21px; color: #fff;margin-left:10px; margin-top:8px;}

.menu_list{ background: #FFFFFF; margin-top: 20px;}
.menu_list  ul{ padding-left: 15px;}
.menu_list  ul a{ height: 54px; line-height: 54px;  display: block; color: #333;}
.menu_list  ul a span{ display: inline-block;}
.menu_list .single{ width: 30px; height: 30px; line-height: 30px; text-align: center; color: #fff; border-radius: 50%; background: #29cb6a;  margin-right:10px;}
.menu_list .approximately{ width: 30px; height: 30px; line-height: 30px; text-align: center; color: #fff; border-radius: 50%; background: #00aaee;  margin-right:10px;}
.triangle{ margin: 0 10px;}

.trend-table{ margin-top: 20px; background: #FFFFFF; padding:5px;}
.trend-table h3{ font-size: 15px; color: #8d97a6;  padding-left: 15px; height: 54px;line-height: 54px;}


.sales-singular{font-size: 13px; padding:0 15px; color: #8d97a6; height: 36px; line-height: 36px;}
.sales-content{ padding:13px 15px; border-bottom:1px solid #eaebf0;display: flex; background: #fff;}
.sales-content div{flex:1;}
.sales-content span{ font-size: 15px; color: #333; margin-bottom: 10px; display: inline-block;}
.sales-content p{ font-size: 12px; color: #8d97a6;}
.sales-content .text-rt{ color: #333; padding-top: 13px;}
