@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, table, tbody, p, th, td, em, samp {
  -webkit-text-size-adjust: none;
  margin: 0;
  padding: 0;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Microsoft Yahei", "微软雅黑";
}

html, body {
  height: 100%;
}

img, input, button, a, select, textarea {
  margin: 0;
  padding: 0;
  resize: none;
  border: none;
  outline: none;
}

ol, ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, em, i, b, em {
  font-size: 100%;
  word-wrap: break-word;
  font-weight: normal;
  font-style: normal;
}

a:active, a:focus {
  outline: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

* html {
  background-image: url(about:blank);
  background-attachment: fixed;
}

/* 修正IE6振动bug */

.container-fluid {
  padding: 0;
}

.navbar {
  margin: 0;
}

a {
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clear {
  clear: both;
}

#activate {
  margin: 17px 0;
  width: 300px;
  height: 64px;
  font-size: 18px;
}

.header {
  margin: 0;
  height: 350px;
}

.headerImg {
  width: 100%;
}

.col-lg-7 {
  padding-left: 150px;
}

.col-lg-7 p {
  font-size: 18px;
  margin: 50px 0;
}

.col-lg-5 {
  padding: 0 100px;
}

.col-lg-5 img {
  width: 100%;
  max-width: 400px;
}

.col-lg-5 div {
  margin: 0 auto;
}

.credit {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

@media (max-width: 1200px) {
  .col-lg-7 {
    padding: 64px;
  }
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 25px;
  }
  .col-lg-7 {
    padding: 15px;
  }
  .col-lg-7 h2 {
    font-size: 16px;
  }
  .col-lg-7 p {
    font-size: 12px;
  }
  .credit {
    margin-bottom: 25px;
  }
}

@media (max-width: 1024px) {
  #bsaHolder, footer {
    display: none;
  }
}

.navbar-fixed-top, .navbar-fixed-bottom {
  z-index: 1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 375px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.pointer {
  position: absolute;
  top: 50%;
  margin-top: -32px;
  z-index: 9001;
  left: 12px;
  opacity: 0.8;
}

.previous {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid white;
}

.next {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid white;
  right: 12px;
  left: auto;
}

.hide {
  visibility: hidden;
}

/*....*/

.text-center {
  position: relative;
  height: 375px;
}

.toix-txt {
  width: 100%;
  position: absolute;
  z-index: 9999;
  bottom: 10px;
}

.toix-jg {
  width: 150px;
  height: 50px;
  opacity: 0.8;
  background-color: #ea5e39;
  line-height: 50px;
  text-align: left;
  font-size: 14px;
  color: #fff;
  font-weight: 900;
}

.lrs-l {
  margin-left: 15px;
}

.dopoci {
  font-size: 36px;
}

.tpci {
  text-decoration: line-through;
  margin-left: 5px;
}

.toix-pocx {
  background: asset_data_url('share.course/bz@2x.png') 0 0px no-repeat;
  width: 66px;
  margin-right: 15px;
  margin-top: 30px;
  float: right;
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  background-size: 20px 20px;
  padding-left: 20px;
  height: 20px;
  line-height: 20px;
}

.Product {
  width: 95%;
  margin: 0 auto;
}

.Product h1 {
  width: 70%;
  height: 41px;
  line-height: 41px;
  margin: 10px auto 0px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.Product .Score {
  display: block;
  width: 86px;
  height: 15px;
  float: left;
  margin-right: 8px;
  background-size: 86px 14px;
}

.Score-1 {
  background: asset_data_url('share.course/Star1.png') 0 0 no-repeat;
}

.Score-2 {
  background: asset_data_url('share.course/Star2.png') 0 0 no-repeat;
}

.Score-3 {
  background: asset_data_url('share.course/Star3.png') 0 0 no-repeat;
}

.Score-4 {
  background: asset_data_url('share.course/Star4.png') 0 0 no-repeat;
}

.Score-5 {
  background: asset_data_url('share.course/Star5.png') 0 0 no-repeat;
}

.Score-6 {
  background: asset_data_url('share.course/Star6.png') 0 0 no-repeat;
}

.Score-7 {
  background: asset_data_url('share.course/Star7.png') 0 0 no-repeat;
}

.Score-8 {
  background: asset_data_url('share.course/Star8.png') 0 0 no-repeat;
}

.Score-9 {
  background: asset_data_url('share.course/Star9.png') 0 0 no-repeat;
}

.Score-10 {
  background: asset_data_url('share.course/Star10.png') 0 0 no-repeat;
}

.Product h2 {
  width: 120px;
  margin: 0px auto 20px;
  font-size: 11px;
  font-weight: 400;
  color: #adadad;
}

.Introduction {
  width: 276px;
  height: 28px;
  margin: 20px auto;
}

.Introduction li {
  float: left;
  width: 80px;
  height: 28px;
  text-align: center;
  border: 1px solid #c8c7cc;
  line-height: 28px;
  -moz-border-radius: 25px; /* Gecko browsers */
  -webkit-border-radius: 25px; /* Webkit browsers */
  border-radius: 25px; /* W3C syntax */
  font-size: 12px;
  margin: 0 5px;
}

.Address-Headportrait {
  margin: 0 auto;
}

.Headportrait {
  width: 60px;
  margin: 0 auto 6px;
}

.Address-Headportrait img {
  width: 60px;
  height: 60px;
}

.adtre a, .adtre samp {
  display: block;
  color: #333;
}

.Address-Headportrait .Name {
  font-size: 13px;
  width: 83%;
  text-align: center;
  margin: 0 auto 6px;
}

.address {
  background: asset_data_url('share.course/icon_location.png') 5px 5px no-repeat;
  background-size: 15px 15px;
  line-height: 23px;
  padding-left: 20px;
  margin: 0px auto 15px;
  font-size: 13px;
}

.Arrow {
  background: asset_data_url('share.course/morecopy.png') 0 0 no-repeat;
  width: 7px;
  height: 12px;
  margin-top: 10px;
  float: right;
  background-size: 7px 12px;
}

.Time {
  width: 100%;
  margin: 15px auto;
  background: #f7f7f9;
}

.Time ul {
  margin-top: 19px;
}

.Time li {
  width: 50%;
  float: left;
}

.Time-pol {
  float: left;
  font-size: 25px;
}

.Time-teu {
  font-size: 12px;
  color: #8d97a6;
  width: 60%;
  margin: 0 auto;
}

.Time-tie {
  width: 65%;
  margin: 0 auto;
  height: 32px;
  font-size: 14px;
  color: #333;
}

.tdeqa {
  margin-top: 10px;
  float: left;
}

.Coursecontent h1 {
  font-size: 13px;
  color: #333;
}

.Coursecontent h4 {
  font-size: 13px;
  color: #8d97a6;
}

.Coursecontent-txt {
  font-size: 13px;
}

.Coursecontent {
  width: 95%;
  margin: 0px auto 10px;
  line-height: 24px;
}

.fpofdt {
  width: 15px;
  height: 9px;
  margin: 10px auto;
}

.Clicktriangle {
  width: 15px;
  height: 9px;
  display: block;
  margin: 10px auto;
}

.Equipment {
  width: 95%;
  margin: 15px auto 0;
  height: 52px;
  padding: 52px 0;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #ddd;
}

.Equipment li {
  width: 25%;
  float: left;
}

.Equipment li img {
  width: 45px;
  height: 45px;
  margin-left: 25%;
}

.Purchase {
  width: 95%;
  margin: 0 auto;
  height: 89px;
  border-bottom: 1px solid #c8c7cc;
}

.Purchase-Buy {
  float: left;
  color: #8d97a6;
  font-size: 13px;
  margin-top: 35px;
}

.Purchase a {
  margin-left: 5px;
  display: block;
  float: left;
  margin-top: 27px;
}

.Purchase img {
  width: 40px;
  height: 40px;
}

.arltop {
  margin-top: 40px;
}

.Number {
  width: 97%;
  height: 53px;
  font-size: 16px;
  color: #333;
  font-weight: 400;
  text-align: center;
  line-height: 53px;
}

.Numbertop {
  margin-top: 20px;
}

.Recommend {
  width: 100%;
  margin: 10px auto 70px;
}

.Recommend a {
  float: left;
  display: block;
  width: 50%
}

.Recommend-txt {
  width: 98%;
  margin: 0 auto;
}

.Recommend-txt-top {
  position: relative;
  width: 180px;
  height: 180px;
  margin: 0 auto;
}

.Recommend-txt-top samp img {
  width: 180px;
  height: 180px;
}

.Recommend-txt-tx {
  position: absolute;
  bottom: -20px;
  width: 32px;
  left: 50%;
  margin-left: -16px
}

.Recommend-txt-tx img {
  width: 40px;
  height: 40px;
}

.poir {
  font-size: 13px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  color: #8d97a6;
  font-weight: 400;
}

.pxco {
  margin: 5px auto 10px;
  width: 98%;
}

.pxco .Score {
  display: block;
  width: 63px;
  height: 10px;
  margin: 0 auto;
  background-size: 63px 10px;
}

.mend-txt {
  width: 95%;
  margin: 0 auto;
  font-size: 13px;
  color: #8d97a6;
}

.foot {
  width: 100%;
  margin-top: 40px;
  height: 50px;
  border-top: 1px solid #e3e3e5;
  background: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.foot a {
  display: block;
  width: 50%;
  float: left;
  font-size: 18px;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.foot-Call {
  background: asset_data_url('share.course/mine.png') 30px 13px no-repeat;
  color: #8d97a6;
  background-size: 23px 23px;
}

.foot-Buy {
  background: #ff572f;
  color: #fff;
  letter-spacing: 8px;
}

.download {
  height: 60px;
  width: 100%;
  line-height: 60px;
}

.downtoad {
  background: asset_data_url('share.course/download.png') 0 0 no-repeat;
  background-size: cover;
  height: 60px;
  line-height: 60px;
  display: block;
  border: 1px solid #4b4a4a
}

#download-button {
  border: 0;
  background: 0;
  color: #fff;
  margin-left: 10px;
  width: 20px;
  height: 20px;
}
