@charset "UTF-8";
/* CSS Document */
html {
  height: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
  outline: 0
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
  vertical-align: baseline
}

img {
  border: 0 none;
  vertical-align: top
}

i, em {
  font-style: normal;
}

ol, ul {
  list-style: none
}

input, select, button, h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-family: inherit
}

a, a:visited {
  text-decoration: none;
  color: #2f3239
}

body {
  margin: 0 auto;
  min-width: 320px;
  max-width: 640px;
  background: #fff;
  font-size: 14px;
  font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
  line-height: 1.5;
  color: #2f3239;
  -webkit-text-size-adjust: 100% !important;
  -webkit-user-select: none;
  user-select: none;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  interpolation-mode: bicubic;
}

.txt-center {
  text-align: center;
}

.txt-justify {
  text-align: justify;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, div, p {
  display: block;
  padding: 0px;
  margin: 0px auto;
  border: none;
}

a, button, input, i {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

.green {
  color: #26da83
}

.red {
  color: #e4393c
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.mint10 {
  margin-top: 10px;
}

.mint15 {
  margin-top: 15px;
}

.mint20 {
  margin-top: 20px;
}

.mint30 {
  margin-top: 30px;
}

.mint40 {
  margin-top: 40px;
}

#superContainer {
  height: 100%;
  position: relative;
  margin: auto;
}

.page {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.page .fotlogo {
  width: 80px;
  height: 87px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 15;
  background-size: 100%;
}

.page .text1, .page .text2 {
  position: absolute;
}

.pages {
  width: 30px;
  height: 32px;
  display: none;
  position: fixed;
  left: 50%;
  margin-left: -15px;
  bottom: 10px;
  background: asset-data-url('share/service/s-up.png') no-repeat;
  background-size: 100%;
  animation: page 1s infinite;
  -webkit-animation: page 1s infinite;
  z-index: 999
}

.active .pages {
  display: block;
}

.tableCell {
  margin: 0 auto;
  vertical-align: middle;
  width: 100%;
}

.page1 {
  background: asset-data-url('share/service/page01.jpg') no-repeat;
  background-size: 100%;
}

.page1 .tx {
  width: 80px;
  height: 80px;
  padding: 5px;
  position: absolute;
  z-index: 99;
  top: 50px;
  left: 50%;
  margin-left: -45px;
  background: #fff;
  border-radius: 50%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.page1 .tx img {
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 50%;
}

.page1 .pgbox01 {
  width: 80%;
  margin-top: 95px;
  padding-bottom: 10px;
  position: relative;
  background: rgba(255, 255, 255, .9);
  border-radius: 30px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.page1 .pgbox01 .mxzt {
  width: 80%;
  padding-top: 50px;
  text-align: center;
  font-size: 12px;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.page1 .pgbox01 .mxzt h3 {
  font-size: 20px;
  padding: 5px 0
}

.page1 .pgbox01 .mxzt i {
  display: block;
  margin-bottom: 10px;
}

.page1 .pgbox01 .mxzt i img {
  height: 18px;
}

.page1 .pgbox01 .ico1 {
  width: 55%;
  padding: 5px 0;
  text-align: center;
}

.page1 .pgbox02 {
  width: 80%;
  margin-top: 15px;
  padding-bottom: 10px;
  position: relative;
  background: rgba(255, 255, 255, .9);
  border-radius: 30px;
  color: #4c4c4c;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.page1 .pgbox02 .text {
  width: 86%;
  padding: 15px 0;
  line-height: 22px;
  text-align: justify;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  overflow: hidden;
}

.page1 .pgbox02 .add {
  width: 86%;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.page1 .pgbox02 .tel {
  width: 86%;
  padding: 10px 0
}

.page1 .pgbox02 .tel a {
  display: inline-block;
  width: 100%;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  background: #1fcc61;
  border-radius: 10px;
}

.page1 .pgbox02 .tel a i {
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  margin-right: 5px;
  margin-bottom: -4px;
  background: asset-data-url('share/service/telico.png') no-repeat;
  background-size: 100%;
}

.active .tx {
  -webkit-animation: toux 1s 1;
  animation: toux 1s 1;
}

.active .pgbox01 {
  -webkit-animation: pgbox01 1s 1;
  animation: pgbox01 1s 1;
}

.active .pgbox01 .mxzt {
  -webkit-animation: mxzt 2s 1;
  animation: mxzt 2s 1;
}

.active .pgbox01 .ico1 {
  -webkit-animation: opacity 3s 1;
  animation: opacity 3s 1
}

.active .pgbox02 {
  -webkit-animation: pgbox01 2s 1;
  animation: pgbox01 2s 1;
}

.active .pgbox02 .text {
  -webkit-animation: mxzt 3s 1;
  animation: mxzt 3s 1;
}

.active .pgbox02 .add {
  -webkit-animation: mxzt 3.5s 1;
  animation: mxzt 3.5s 1;
}

.page2 {
  background: asset-data-url('share/service/page02.jpg') no-repeat;
  position: relative;
  background-size: 100%;
}

.page2 p {
  border-radius: 50%;
  padding: 5px;
  background: #fff;
  position: absolute;
  overflow: hidden;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.page2 p img {
  border-radius: 50%;
  display: block;
}

.page2 p.tx1 {
  width: 30%;
  top: 5%;
  left: 8%;
}

.page2 p.tx2 {
  width: 16%;
  top: 10%;
  left: 50%;
}

.page2 p.tx3 {
  width: 18%;
  top: 30%;
  left: 8%;
}

.page2 p.tx4 {
  width: 20%;
  top: 24%;
  left: 66%;
}

.page2 p.tx5 {
  width: 10%;
  top: 47%;
  left: 32%;
}

.page2 p.tx6 {
  width: 18%;
  top: 58%;
  left: 10%;
}

.page2 p.tx7 {
  width: 18%;
  top: 48%;
  left: 46%;
}

.page2 p.tx8 {
  width: 20%;
  top: 45%;
  left: 70%;
}

.active p.tx1 {
  -webkit-animation: dhtwo 3s 1;
  animation: dhtwo 3s 1;
}

.active p.tx2 {
  -webkit-animation: dhtwo 2s 1;
  animation: dhtwo 2s 1;
}

.active p.tx3 {
  -webkit-animation: mxzt 2.2s 1;
  animation: mxzt 2.2s 1;
}

.active p.tx4 {
  -webkit-animation: mxzt 2s 1;
  animation: mxzt 2s 1;
}

.active p.tx5 {
  -webkit-animation: mxzt 2s 1;
  animation: mxzt 2s 1;
}

.active p.tx6 {
  -webkit-animation: mxzt 3s 1;
  animation: mxzt 3s 1;
}

.active p.tx7 {
  -webkit-animation: dhtwo 2s 1;
  animation: dhtwo 2s 1;
}

.active p.tx8 {
  -webkit-animation: mxzt 2.5s 1;
  animation: mxzt 2.5s 1;
}

.page3 {
  background: asset-data-url('share/service/page03.jpg') no-repeat;
  position: relative;
  background-size: 100%;
}

.page3 p {
  border-radius: 10px;
  padding: 5px;
  background: #fff;
  position: absolute;
  overflow: hidden;
}

.page3 p img {
  border-radius: 5px;
  display: block
}

.page3 p.pic1 {
  width: 31%;
  top: 5%;
  left: 20%;
}

.page3 p.pic2 {
  width: 22%;
  top: 10%;
  left: 65%;
}

.page3 p.pic3 {
  width: 18%;
  top: 28%;
  left: 5%;
}

.page3 p.pic4 {
  width: 32%;
  top: 30%;
  left: 30%;
}

.page3 p.pic5 {
  width: 22%;
  top: 28%;
  left: 70%;
}

.page3 p.pic6 {
  width: 32%;
  top: 57%;
  left: 7%;
}

.page3 p.pic7 {
  width: 24%;
  top: 54%;
  left: 54%;
}

.page3 p.pic8 {
  width: 22%;
  top: 76%;
  left: 68%;
}

.active p.pic1 {
  -webkit-animation: rotate120 2s 1;
  animation: rotate120 2s 1;
}

.active p.pic2 {
  -webkit-animation: rotate120 2s 1;
  animation: rotate120 2s 1;
}

.active p.pic3 {
  -webkit-animation: rotateY90 3s 1;
  animation: rotateY90 3s 1;
}

.active p.pic4 {
  -webkit-animation: rotateY90 3s 1;
  animation: rotateY90 3s 1;
}

.active p.pic5 {
  -webkit-animation: rotateY90 3s 1;
  animation: rotateY90 3s 1;
}

.active p.pic6 {
  -webkit-animation: mxzt 2.5s 1;
  animation: mxzt 2.5s 1;
}

.active p.pic7 {
  -webkit-animation: mxzt 2.5s 1;
  animation: mxzt 2.5s 1;
}

.active p.pic8 {
  -webkit-animation: mxzt 2.5s 1;
  animation: mxzt 2.5s 1;
}

.page4 {
  background: asset-data-url('share/service/page04.jpg') no-repeat;
  position: relative;
  background-size: 100%;
}

.page4 .con {
  width: 70%;
  position: absolute;
  left: 5%;
  min-height: 50px;
  background: #ededed;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

.page4 .con i {
  display: block;
  width: 10px;
  height: 10px;
  background: #ededed;
  position: absolute;
  left: -5px;
  top: 46%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.page4 .con em {
  display: block;
  width: 16px;
  height: 16px;
  background: #7fe0f5;
  position: absolute;
  left: -12.5%;
  top: 42%;
  border-radius: 50%
}

.page4 .con img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
}

.page4 .con p {
  font-size: 14px;
  line-height: 14px;
  margin-top: 5px;
  padding-left: 5px;
  border-left: #00c1eb 1px solid;
  color: #4c4c4c;
}

.page4 .con h3 {
  color: #010101;
  font-size: 18px;
}

.page4 .con_a {
  top: 24%;
}

.page4 .con_b {
  top: 27%;
}

.page4 .con_c {
  top: 30%;
}

.page4 .con_d {
  top: 33%;
}

.active .con_a {
  -webkit-animation: dhcon1 1s 1;
  animation: dhcon1 1s 1;
}

.active .con_b {
  -webkit-animation: dhcon2 1.5s 1;
  animation: dhcon2 1.5s 1;
}

.active .con_c {
  -webkit-animation: dhcon3 2s 1;
  animation: dhcon3 2s 1;
}

.active .con_d {
  -webkit-animation: dhcon4 2.5s 1;
  animation: dhcon4 2.5s 1;
}

.page5 .logo {
  width: 22%;
  padding: 20px 0 10px 0;
}

.page5 .mys {
  width: 38%;
}

.page5 .code {
  width: 46%;
  margin-top: 20px;
  border: #d2d2d2 1px solid;
}

.page5 .codetext {
  width: 50%;
  text-align: center;
  color: #9a9a9a;
  font-size: 12px;
  padding-top: 10px;
}

.page5 .tjlist {
  width: 98%;
  clear: both;
  margin: auto;
  padding: 20px 0 10px 0
}

.page5 .tjlist li {
  float: left;
  width: 33%;
  text-align: center;
  color: #9a9a9a;
  font-size: 12px;
}

.page5 .tjlist li a {
  color: #9a9a9a
}

.page5 .tjlist li .imgbox {
  display: inline-block;
  margin-bottom: 5px;
  width: 60%;
  overflow: hidden;
}

.page5 .tjlist li .imgbox img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.page5 .footbut {
  display: none;
  width: 100%;
  height: 65px;
  position: fixed;
  left: 0;
  background: #2e2e2e;
  bottom: -1px;
}

.page5 .footbut .fotlogo {
  width: 40px;
  height: 40px;
  padding: 5px 5px 0 5px;
  text-align: center;
  position: absolute;
  left: 12px;
  top: 10px;
  background: #fff;
  border-radius: 10px;
}

.page5 .footbut .fotlogo img {
  width: 80%;
}

.page5 .footbut .mys2 {
  width: 80px;
  position: absolute;
  left: 75px;
  top: 14px;
}

.page5 .footbut .dowtext {
  position: absolute;
  left: 75px;
  top: 35px;
  color: #777;
  font-size: 12px;
}

.page5 button {
  padding: 10px 15px;
  background: #00c1ea;
  position: absolute;
  top: 12px;
  right: 10px;
  color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
}

.page5 .pages {
  display: none;
}

.active .logo {
  -webkit-animation: rubber 2s 1;
  animation: rubber 2s 1;
}

.active .mys {
  -webkit-animation: toux 1.5s 1;
  animation: toux 1.5s 1;
}

.active .code {
  -webkit-animation: opacity 3s 1;
  animation: opacity 3s 1;
}

.active .codetext {
  -webkit-animation: dhtwo 1s 1;
  animation: dhtwo 1s 1;
}

.active .tjlist li.li01 {
  -webkit-animation: leftr 2s 1;
  animation: leftr 2s 1;
}

.active .tjlist li.li02 {
  -webkit-animation: topdow 2s 1;
  animation: topdow 2s 1;
}

.active .tjlist li.li03 {
  -webkit-animation: rightl 2s 1;
  animation: rightl 2s 1;
}

.active .footbut {
  display: block;
  -webkit-animation: dhcon2 2s 1;
  animation: dhcon2 2s 1;
}

.active .footbut .dowtext {
  -webkit-animation: rightl 2s 1;
  animation: rightl 2s 1;
}

.active button {
  -webkit-animation: butrl 2s 1;
  animation: butrl 2s 1;
}

@-webkit-keyframes page {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: .3;
    -webkit-transform: translate3d(0, 25%, 0);
  }
}

@keyframes page {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: .3;
    transform: translate3d(0, 25%, 0)
  }
}

@-webkit-keyframes toux {
  0% {
    -webkit-transform: translate3d(-200%, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(40px, 0, 0);
  }
  80% {
    －webkit-transform: translate3d(-40px, 0, 0);
  }
  85% {
    -webkit-transform: translate3d(-20px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(20px, 0, 0);
  }
  95% {
    -webkit-transform: translate3d(-10px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0px, 0, 0);
  }
}

@keyframes toux {
  0% {
    transform: translate3d(-200%, 0, 0);
  }
  75% {
    transform: translate3d(40px, 0, 0);
  }
  80% {
    transform: translate3d(-40px, 0, 0);
  }
  85% {
    transform: translate3d(-20px, 0, 0);
  }
  90% {
    transform: translate3d(20px, 0, 0);
  }
  95% {
    transform: translate3d(-10px, 0, 0);
  }
  100% {
    transform: translate3d(0px, 0, 0);
  }
}

@-webkit-keyframes pgbox01 {
  0% {
    -webkit-transform: translate3d(-200%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@keyframes pgbox01 {
  0% {
    transform: translate3d(-200%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes mxzt {
  0% {
    opacity: 0;
    -webkit-transform: scale(0, 0);
  }
  50% {
    opacity: .3;
    -webkit-transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
  }
}

@keyframes mxzt {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  50% {
    opacity: .3;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes mxzt {
  0% {
    opacity: 0;
    -webkit-transform: scale(0, 0);
  }
  50% {
    opacity: .3;
    -webkit-transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
  }
}

@keyframes mxzt {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  50% {
    opacity: .3;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@-webkit-keyframes dhtwo {
  0% {
    opacity: 0;
    -webkit-transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
  }
}

@keyframes dhtwo {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@-webkit-keyframes rotate120 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}

@keyframes rotate120 {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg)
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes rotateY90 {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
  }
  60% {
    opacity: 1;
    -webkit-transform: none;
  }
  61% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(.8, .8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
  }
}

@keyframes rotateY90 {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  60% {
    opacity: 1;
    transform: none;
  }
  61% {
    opacity: 1;
    transform: scale(1, 1);
  }
  80% {
    opacity: 1;
    transform: scale(.8, .8);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@-webkit-keyframes dhcon1 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}

@keyframes dhcon1 {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0)
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes dhcon2 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0)
  }
  20% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}

@keyframes dhcon2 {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0)
  }
  20% {
    opacity: 0;
    transform: translate3d(0, 100%, 0)
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes dhcon3 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0)
  }
  40% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}

@keyframes dhcon3 {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0)
  }
  40% {
    opacity: 0;
    transform: translate3d(0, 100%, 0)
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes dhcon4 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0)
  }
  60% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}

@keyframes dhcon4 {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0)
  }
  60% {
    opacity: 0;
    transform: translate3d(0, 100%, 0)
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes topdow {
  0% {
    -webkit-transform: translate3d(0, -500%, 0)
  }
  20% {
    -webkit-transform: translate3d(0, -500%, 0)
  }
  50% {
    -webkit-transform: translate3d(0, 30%, 0)
  }
  60% {
    -webkit-transform: translate3d(0, -20%, 0)
  }
  80% {
    -webkit-transform: translate3d(0, 10%, 0)
  }
  100% {
    -webkit-transform: none;
  }
}

@keyframes topdow {
  0% {
    transform: translate3d(0, -500%, 0)
  }
  20% {
    transform: translate3d(0, -500%, 0)
  }
  50% {
    transform: translate3d(0, 30%, 0)
  }
  60% {
    transform: translate3d(0, -20%, 0)
  }
  80% {
    transform: translate3d(0, 10%, 0)
  }
  100% {
    transform: none;
  }
}

@-webkit-keyframes leftr {
  0% {
    -webkit-transform: translate3d(-500%, 0, 0)
  }
  20% {
    -webkit-transform: translate3d(-500%, 0, 0)
  }
  50% {
    -webkit-transform: translate3d(30%, 0, 0)
  }
  60% {
    -webkit-transform: translate3d(-20%, 0, 0)
  }
  80% {
    -webkit-transform: translate3d(10%, 0, 0)
  }
  100% {
    -webkit-transform: none;
  }
}

@keyframes leftr {
  0% {
    transform: translate3d(-500%, 0, 0)
  }
  20% {
    transform: translate3d(-500%, 0, 0)
  }
  50% {
    transform: translate3d(30%, 0, 0)
  }
  60% {
    transform: translate3d(-20%, 0, 0)
  }
  80% {
    transform: translate3d(10%, 0, 0)
  }
  100% {
    transform: none;
  }
}

@-webkit-keyframes rightl {
  0% {
    -webkit-transform: translate3d(500%, 0, 0)
  }
  20% {
    -webkit-transform: translate3d(500%, 0, 0)
  }
  50% {
    -webkit-transform: translate3d(-30%, 0, 0)
  }
  60% {
    -webkit-transform: translate3d(20%, 0, 0)
  }
  80% {
    -webkit-transform: translate3d(-10%, 0, 0)
  }
  100% {
    -webkit-transform: none;
  }
}

@keyframes rightl {
  0% {
    transform: translate3d(500%, 0, 0)
  }
  20% {
    transform: translate3d(500%, 0, 0)
  }
  50% {
    transform: translate3d(-30%, 0, 0)
  }
  60% {
    transform: translate3d(20%, 0, 0)
  }
  80% {
    transform: translate3d(-10%, 0, 0)
  }
  100% {
    transform: none;
  }
}

@-webkit-keyframes butrl {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(500%, 0, 0)
  }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}

@keyframes butrl {
  0% {
    opacity: 0;
    transform: translate3d(500%, 0, 0)
  }
  50% {
    opacity: 0;
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes rubber {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, .75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, .85, 1);
  }
  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
  }
}

@keyframes rubber {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, .75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, .85, 1);
  }
  65% {
    transform: scale3d(.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, .95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@media (max-width: 340px) {
  .page1 .tx {
    width: 70px;
    height: 70px;
    margin-left: -40px;
  }

  .page1 .tx img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .page1 .pgbox01 {
    width: 80%;
    margin-top: 95px;
    padding-bottom: 5px;
    position: relative;
    background: rgba(255, 255, 255, .9);
    border-radius: 30px;
  }

  .page1 .pgbox01 .mxzt {
    padding-top: 40px;
  }

  .page1 .pgbox01 .mxzt h3 {
    font-size: 18px;
    padding: 5px 0
  }

  .page1 .pgbox01 .mxzt i {
    margin-bottom: 5px;
  }

  .page1 .pgbox01 .mxzt i img {
    height: 18px;
  }

  .page1 .pgbox01 .ico1 {
    width: 65%;
  }

  .page1 .pgbox02 {
    width: 80%;
    margin-top: 8px;
    padding-bottom: 10px;
    font-size: 12px;
  }

  .page1 .pgbox02 .text {
    width: 86%;
    padding: 15px 0 5px 0;
    line-height: 20px;
  }

  .page1 .pgbox02 .add {
    width: 86%;
  }

  .page1 .pgbox02 .tel {
    width: 86%;
    padding: 10px 0
  }

  .page1 .pgbox02 .tel a {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
  }

  .page1 .pgbox02 .tel a i {
    width: 18px;
    height: 18px;
  }

  .page3 p.pic7 {
    width: 24%;
    top: 56%;
    left: 54%;
  }

  .page3 p.pic8 {
    width: 22%;
    top: 76%;
    left: 68%;
  }

  .page4 .con p {
    font-size: 12px;
    margin-top: 8px;
  }

  .page4 .con h3 {
    color: #010101;
    font-size: 16px;
  }
}

@media (max-height: 480px) {
  .page1 .tx {
    width: 60px;
    height: 60px;
    padding: 5px;
    top: 30px;
    left: 50%;
    margin-left: -35px;
  }

  .page1 .tx img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .page1 .pgbox01 {
    width: 80%;
    margin-top: 60px;
  }

  .page1 .pgbox01 .mxzt {
    padding-top: 40px;
  }

  .page1 .pgbox01 .mxzt h3 {
    font-size: 16px;
    padding: 2px 0
  }

  .page1 .pgbox01 .mxzt i {
    margin-bottom: 5px;
  }

  .page1 .pgbox01 .mxzt i img {
    height: 18px;
  }

  .page1 .pgbox01 .ico1 {
    width: 65%;
    padding: 4px 0;
  }

  .page1 .pgbox02 {
    margin-top: 10px;
  }

  .page1 .pgbox02 .text {
    width: 86%;
    padding: 10px 0;
    line-height: 18px;
  }

  .page1 .pgbox02 .add {
    width: 86%;
  }

  .page1 .pgbox02 .tel {
    width: 86%;
    padding: 10px 0 0
  }

  .page1 .pgbox02 .tel a {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
  }

  .page2 {
    background: asset-data-url('share/service/page02.jpg') no-repeat center;
    position: relative;
    background-size: 100%;
  }

  .page3 {
    background: asset-data-url('share/service/page03.jpg') no-repeat center;
    position: relative;
    background-size: 100%;
  }

  .page3 p {
    -webkit-transform: scale(.9, .9);
    transform: scale(.9, .9);
  }

  .page3 p.pic7 {
    width: 24%;
    top: 55%;
    left: 54%;
  }

  .page3 p.pic8 {
    width: 22%;
    top: 73%;
    left: 68%;
  }

  .page4 .con {
    min-height: 40px;
  }

  .page4 .con i {
    top: 44%;
  }

  .page4 .con em {
    top: 40%;
  }

  .page4 .con img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
  }

  .page4 .con p {
    font-size: 12px;
    line-height: 14px;
  }

  .page4 .con h3 {
    color: #010101;
    font-size: 14px;
  }

  .page5 .logo {
    width: 18%;
    padding: 10px 0 5px 0
  }

  .page5 .mys {
    width: 30%;
  }

  .page5 .code {
    width: 36%;
    margin-top: 10px;
  }

  .page5 .codetext {
    padding-top: 5px;
  }

  .page5 .tjlist {
    padding: 10px 0 5px 0
  }

  .page5 .tjlist li .imgbox {
    width: 50%;
  }
}

.load {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #262626
}

.load .loader {
  position: fixed;
  top: 20%;
  width: 200px;
  left: 50%;
  margin-left: -100px;
}

.loader .loaderlogo {
  width: 120px;
  margin-top: 20%;
  text-align: center;
}

.loader .loadercon {
  width: 150px;
  position: relative;
  margin-top: 30px;
  height: 3px;
  background: #3d3d3d;
}

.loader .progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 0;
  background: #979797;
}

.loader .percentage {
  display: none
}

.loader .loadend {
  display: none
}

.ycnone {
  position: absolute;
  animation: answer 1s 1;
  -webkit-animation: answer 1s 1;
  opacity: 0;
}

@-webkit-keyframes answer {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes answer {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* player */
.music {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 99999;
}

.btn_music, .btn_music1 {
  display: block;
  width: 30px;
  height: 30px;
  background-size: cover
}

.btn_music.on {
  -webkit-animation: reverseRotataZ 1.2s linear infinite;
}

@-webkit-keyframes reverseRotataZ {
  0% {
    -webkit-transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
  }
}