<div>
  <a class="view_link member_link" href="/admin/news/12">查看</a>
  <a class="edit_link member_link" href="/admin/news/12/edit">编辑</a>
  <a class="delete_link member_link" data-confirm="确定删除?" rel="nofollow" data-method="delete" href="/admin/news/12">删除</a>
</div>