<div class="panel">
  <h3>推荐</h3>
  <%= form_tag(submit_recommend_news_path(@news), remote: true) do %>
      <table style='padding: 20px'>
        <% Category.pluck(:name).each { |name| %>
            <tr>
              <td><%= check_box_tag('tag_1[]', name) %><%= name %></td>
            </tr>
        <% } %>
        <tr>
          <td>
            <%= submit_tag('提交') %>
          </td>
        </tr>
      </table>
  <% end %>
</div>