<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>美型-美于型，健于身</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <%= stylesheet_link_tag 'wap/wap' %>
</head>
<body>
<iframe src="<%= @url %>"></iframe>
</body>
</html>