<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>帮助中心</title>
  <style>
      body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, table, tbody, p, th, td, em, samp {
          -webkit-text-size-adjust: none;
          margin: 0;
          padding: 0;
          border: none;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          font-family: "Microsoft Yahei", "微软雅黑";
      }

      html, body {
          height: 100%;
      }

      .pciz {
          padding: 26px 21px 0px;
          line-height: 30px;
          font-size: 16px;
          color: #333333
      }

  </style>
</head>

<body>
<div class="pciz">
  <p>1.优惠券适用于全场普通课程。</p>

  <p>2.一些限制使用优惠券的课程以课程限制为准。</p>

  <p>3.优惠券每个订单只能使用1张，不设找零兑换。</p>

  <p>4.优惠券失效后将不能使用，您可以在我们商城里抢最新的优惠券。</p>

  <p>最终解释权归美型官方所有。</p>
</div>
</body>
</html>
