<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0">
<link type="text/css" rel="stylesheet" href="business/style.css">
<script type="text/javascript" src="business/jquery.js"></script>
<script type="text/javascript" src="business/public.js"></script>
<title>美型网</title>
</head>
<body>
<header class="hdcon">
    <h3>课表</h3>
    <a class="set_up">设置</a>
</header>
<section>
	<div class="kebiaotop">
    	<div class="left"><a><em></em>前一天<span>约满</span></a></div>
       	<h3><i></i>7月7日 星期二</h3>
       	<div class="right"><a><em></em>下一天<span>可约</span></a></div>
   	</div>
    <div class="tigbox"><i></i><p>预约地址：中山公园工作室，</p><p>长宁区中山西路993号虹桥银大厦1206室</p></div>
    <div class="kb_list">
        <dl>
            <dt>
                <h4>08:00<i></i>09:00</h4> 
               <p>预约私教一对一</p>
               <span>上海市长宁区中山西路993号虹桥银城大厦1206室</span>
            </dt>
            <dd><a>可约</a></dd>
        </dl>
        <dl>
            <dt>
                <h4>08:00<i></i>09:00</h4> 
               <p>健身街舞<em>团操</em></p>
               <span>上海市长宁区中山西路993号虹桥银城大厦1206室</span>
            </dt>
            <dd><a>可约</a><span>已约3/33人</span></dd>
        </dl>
        <dl>
            <dt>
                <h4>08:00<i></i>09:00</h4> 
               <p>预约私教一对一</p>
               <span>上海市长宁区中山西路993号虹桥银城大厦1206室</span>
            </dt>
            <dd><a>可约</a></dd>
        </dl>
        <dl class="end">
            <dt>
                <h4>08:00<i></i>09:00</h4> 
               <p>预约私教一对一</p>
               <span>上海市长宁区中山西路993号虹桥银城大厦1206室</span>
            </dt>
            <dd><a>约满</a></dd><div class="ym">已约满</div>
        </dl>
        <dl class="end">
            <dt>
                <h4>08:00<i></i>09:00</h4> 
               <p>预约私教一对一</p>
               <span>上海市长宁区中山西路993号虹桥银城大厦1206室</span>
            </dt>
            <dd><a>可约</a><span>已约3/33人</span></dd>
        </dl>
        <dl class="end">
            <dt>
                <h4>08:00<i></i>09:00</h4> 
               <p>预约私教一对一</p>
               <span>上海市长宁区中山西路993号虹桥银城大厦1206室</span>
            </dt>
            <dd><a>可约</a></dd>
        </dl>
    </div>
</section>
<!--底部-->
<div class="ht70"></div>
<footer>
	<ul>
    	<li class="cur"><a class="nav1"><i></i><span>课表</span></a></li>
    	<li><a class="nav2"><i></i><span>在售课程</span></a></li>
    	<li><a class="nav3"><i></i><span>订单</span></a></li>
    	<li><a class="nav4"><i></i><span>我的</span></a></li>
	</ul>
</footer>
 
</body>
</html>
