<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0">
<link type="text/css" rel="stylesheet" href="../../assets/stylesheets/business/style.css">
<script type="text/javascript" src="../../assets/javascripts/business/jquery.js"></script>
<script type="text/javascript" src="../../assets/javascripts/business/public.js"></script>
<title>美型网</title>
</head>
<body>
<header class="hdcon">
    <a class="return">返回</a>
    <h3>选择课程</h3>
</header>
<ul class="fc-head">
	<li class="red">日</li>
	<li>一</li>
	<li>二</li>
	<li>三</li>
	<li>四</li>
	<li>五</li>
	<li class="red">六</li>
</ul>
<div class="fc-theme">2015年7月</div>
<div class="fc-row">
	<ul>
    	<li></li>
    	<li></li>
    	<li></li>
    	<li><span>1</span></li>
    	<li><span>2</span></li>
    	<li><span>3</span></li>
    	<li><span>4</span></li>
   	</ul>
	<ul>
    	<li class="red"><span>5</span></li>
    	<li><span>6</span></li>
    	<li class="cur"><span class="fc-date">7</span><span>可约</span></li>
    	<li><span class="fc-date">8</span><span>可约</span></li>
    	<li><span class="fc-date">9</span><span>可约</span></li>
    	<li><span class="fc-date">10</span><span class="fc-no">约满</span></li>
    	<li class="red"><span class="fc-date">11</span><span>可约</span></li>
   	</ul>
	<ul>
    	<li class="red"><span class="fc-date">12</span><span>可约</span></li>
    	<li><span class="fc-date">13</span><span>可约</span></li>
    	<li><span class="fc-date">14</span><span>可约</span></li>
    	<li><span class="fc-date">15</span><span class="fc-no">约满</span></li>
    	<li><span class="fc-date">16</span><span>可约</span></li>
    	<li><span class="fc-date">17</span><span>可约</span></li>
    	<li class="red"><span class="fc-date">18</span><span>可约</span></li>
   	</ul>
	<ul>
    	<li class="red"><span class="fc-date">19</span><span>可约</span></li>
    	<li><span class="fc-date">20</span><span class="fc-no">约满</span></li>
    	<li><span class="fc-date">21</span><span>可约</span></li>
    	<li><span class="fc-date">22</span><span>可约</span></li>
    	<li><span class="fc-date">23</span><span>可约</span></li>
    	<li><span class="fc-date">24</span><span>可约</span></li>
    	<li class="red"><span class="fc-date">25</span><span>可约</span></li>
   	</ul>
	<ul>
    	<li class="red"><span class="fc-date">26</span><span>可约</span></li>
    	<li><span class="fc-date">27</span><span>可约</span></li>
    	<li><span class="fc-date">28</span><span>可约</span></li>
    	<li><span class="fc-date">29</span><span>可约</span></li>
    	<li><span class="fc-date">30</span><span>可约</span></li>
    	<li></li>
    	<li class="red"></li>
   	</ul>
</div>

<div class="fc-theme">2015年7月</div>
<div class="fc-row">
	<ul>
    	<li></li>
    	<li></li>
    	<li></li>
    	<li><span>1</span></li>
    	<li><span>2</span></li>
    	<li><span>3</span></li>
    	<li><span>4</span></li>
   	</ul>
	<ul>
    	<li class="red"><span>5</span></li>
    	<li><span>6</span></li>
    	<li class="cur"><span class="fc-date">7</span><span>可约</span></li>
    	<li><span class="fc-date">8</span><span>可约</span></li>
    	<li><span class="fc-date">9</span><span>可约</span></li>
    	<li><span class="fc-date">10</span><span class="fc-no">约满</span></li>
    	<li class="red"><span class="fc-date">11</span><span>可约</span></li>
   	</ul>
	<ul>
    	<li class="red"><span class="fc-date">12</span><span>可约</span></li>
    	<li><span class="fc-date">13</span><span>可约</span></li>
    	<li><span class="fc-date">14</span><span>可约</span></li>
    	<li><span class="fc-date">15</span><span class="fc-no">约满</span></li>
    	<li><span class="fc-date">16</span><span>可约</span></li>
    	<li><span class="fc-date">17</span><span>可约</span></li>
    	<li class="red"><span class="fc-date">18</span><span>可约</span></li>
   	</ul>
	<ul>
    	<li class="red"><span class="fc-date">19</span><span>可约</span></li>
    	<li><span class="fc-date">20</span><span class="fc-no">约满</span></li>
    	<li><span class="fc-date">21</span><span>可约</span></li>
    	<li><span class="fc-date">22</span><span>可约</span></li>
    	<li><span class="fc-date">23</span><span>可约</span></li>
    	<li><span class="fc-date">24</span><span>可约</span></li>
    	<li class="red"><span class="fc-date">25</span><span>可约</span></li>
   	</ul>
	<ul>
    	<li class="red"><span class="fc-date">26</span><span>可约</span></li>
    	<li><span class="fc-date">27</span><span>可约</span></li>
    	<li><span class="fc-date">28</span><span>可约</span></li>
    	<li><span class="fc-date">29</span><span>可约</span></li>
    	<li><span class="fc-date">30</span><span>可约</span></li>
    	<li></li>
    	<li class="red"></li>
   	</ul>
</div>
</body>
</html>
