<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0">
<link type="text/css" rel="stylesheet" href="../../assets/stylesheets/business/style.css">
<script type="text/javascript" src="../../assets/javascripts/business/jquery.js"></script>
<script type="text/javascript" src="../../assets/javascripts/business/public.js"></script>
<title>美型网</title>
</head>
<body>
<header class="hdcon">
    <a class="set_l">取消</a>
    <h3>添加图片</h3>
    <a class="set_up">确定</a>
</header>
<div class="ztbox">添加图片</div>
<section class="tb_bor">
	<ul class="tjtplist">
    	<li><img src="../../assets/images/business/touxiang.jpg"></li>
    	<li><img src="../../assets/images/business/touxiang.jpg"></li>
    	<li><img src="../../assets/images/business/touxiang.jpg"></li>
    	<li><img src="../../assets/images/business/touxiang.jpg"></li>
    	<li><img src="../../assets/images/business/touxiang.jpg"></li>
    	<li><img src="../../assets/images/business/touxiang.jpg"></li>
    	<li><img src="../../assets/images/business/touxiang.jpg"></li>
    	<li><img src="../../assets/images/business/touxiang.jpg"></li>
    	<li><img src="../../assets/images/business/touxiang.jpg"></li>
    	<li><a><img src="../../assets/images/business/jiaico2.png"></a></li>
    </ul>
</section>
</body>
</html>
