<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0">
<link type="text/css" rel="stylesheet" href="business/style.css">
<script type="text/javascript" src="business/jquery.js"></script>
<script type="text/javascript" src="business/public.js"></script>
<script type="text/javascript" src="business/swiper-2.1.min.js"></script>
<title>美型网</title>
</head>
<body>
<header class="focus_header">
    <a class="return">返回</a>
    <h3>添加课程</h3>
    <a onclick="toggle('mb');(idimg).className='zjts dowtop';" class="tjtu"></a>
    <div class="swiper-container overflow">
        <div class="swiper-wrapper" id="swiper-wrapper">
            <div class="swiper-slide"><a href="#"><img src="business/tu1.jpg"></a></div>
            <div class="swiper-slide"><a href="#"><img src="business/tu1.jpg"></a></div>
            <div class="swiper-slide"><a href="#"><img src="business/tu1.jpg"></a></div>
            <div class="swiper-slide"><a href="#"><img src="business/tu1.jpg"></a></div>
        </div> 
        <div class="pagination"></div> 
	</div> 
	<script type="text/javascript">        
     var newSlideSize = function slideSize(){
        var w = Math.ceil($(".swiper-container").width()/1.96);
        $(".swiper-container,.swiper-wrapper,.swiper-slide").height(w); 
     };
     newSlideSize();
     $(window).resize(function(){
       newSlideSize();
     });
  </script> 
    
    
</header>
<section class="tb_bor listbox">
	<dl>
    	<dt>课程名称</dt>
       	<dd>零基础综合适应性训练</dd>
   	</dl>
	<dl>
    	<dt>课程类型</dt>
       	<dd><img src="business/kcico2.png">综合训练<em></em></dd>
   	</dl>
	<dl onclick="toggle('mb');(ts01).className='timebox dowtop';">
    	<dt>教学方式</dt>
       	<dd>1对30<em></em></dd>
   	</dl>
	<dl onclick="toggle('mb');(ts01).className='timebox dowtop';">
    	<dt>单课时</dt>
       	<dd>60分钟<em></em></dd>
   	</dl>
	<dl>
    	<dt>课单价</dt>
       	<dd>¥500.00</dd>
   	</dl>
	<dl onclick="toggle('mb');(ts03).className='timebox dowtop';">
    	<dt>有效期</dt>
       	<dd>一年<em></em></dd>
   	</dl>
	<dl>
    	<dt>建议课时</dt>
       	<dd><div class="yyks"><button>-</button><input type="text" value="2"><button>+</button></div></dd>
   	</dl>
	<div class="kcmsbox">
        <p>针对零基础的学员，培养对于拳击运动的兴趣，通过专业的拳击培训体会拳击的魅力，发现自己的勇敢，宣泄内心的压力。训练内容包含拳击基础知识及技能教学肌等身体素质训练等。</p>
        <div class="zs">120字</div>
    </div>
</section>
<section class="tb_bor listbox">
	<dl>
    	<dt>上课地址</dt>
       	<dd><span>请选择</span><em></em></dd>
   	</dl>
    <dl>
    	<dt>
       		<h3>中田健身工作室</h3>
           <p>上海市上海市逸仙路499弄江湾大厦12楼201</p>
       	</dt>
    </dl>
    <dl>
    	<dt>
       		<h3>中田健身工作室</h3>
           <p>上海市上海市逸仙路499弄江湾大厦12楼201</p>
       	</dt>
    </dl>
    <dl>
    	<dt>
       		<h3>中田健身工作室</h3>
           <p>上海市上海市逸仙路499弄江湾大厦12楼201</p>
       	</dt>
    </dl>
</section>
<section class="tb_bor listbox">
	<dl>
    	<dt>学员定制课程</dt>
       	<dd>
        	<div class="binbox">
        		<p class="btn on" id="btn_time"><span></span></p>
           </div>
       </dd>
   	</dl>
   	<div class="mxh" style="display:block">
        <dl>
            <dt>美型号</dt>
            <dd>195258327</dd>
        </dl>
        <dl>
            <dt>手机号码</dt>
            <dd>18728947593</dd>
        </dl>
    </div>
</section>
<section class="tb_bor listbox">
	<dl>
    	<dt>是否设置为推荐课程</dt>
       	<dd>
        	<div class="binbox">
        		<p class="btn off" id="btn_time"><span></span></p>
           </div>
       </dd>
   	</dl>
</section>
<div class="tjkctext">若设置此为推荐课程，则原有推荐课程将会被覆盖</div>
<div class="footbut footbot_r">
	<a class="qrks">添加课程</a>
</div>


<!--提示添加图片-->
<div id="mb" class="mask"></div>
<div id="idimg" class="zjts">
	<p>
    	<a href="#">从手机相册选择</a>
       	<a href="#">拍一张</a>
    </p>
	<a onclick="toggle('mb');(idimg).className='zjts topdow';" class="close">取消</a>
</div>

<!--提示－单课时-->
<div id="ts01" class="timebox">
	<div class="timezt">单课时
    	<a class="fl" onclick="toggle('mb');(ts01).className='timebox topdow';">取消</a>
    	<a class="fr">确定</a>	
    </div>
    <div class="time_con" id="time_bath">
        <p class="bg"></p>
        <div class="box col1">
            <ol class="minute"></ol>
        </div>
    </div>
</div>
<!--提示-教学方式-->
<div id="ts02" class="timebox">
	<div class="timezt">教学方式
    	<a class="fl" onclick="toggle('mb');(ts02).className='timebox topdow';">取消</a>
    	<a class="fr">确定</a>	
    </div>
    <div class="time_con" id="time_bath">
        <p class="bg"></p>
        <div class="box col3">
            <ol class="fangshi">
            	<li>1对1</li>
            	<li class="on">团操</li>
            </ol>
            <ol class="renshu" style="top:-64px">
            	<li>1</li>
            	<li>2</li>
            	<li>3</li>
            	<li class="on">4</li>
            	<li>5</li>
            	<li>6</li>
            </ol>
        </div>
    </div>
</div>

<!--提示-有效期-->
<div id="ts03" class="timebox">
	<div class="timezt">选择有效期
    	<a class="fl" onclick="toggle('mb');(ts03).className='timebox topdow';">取消</a>
    	<a class="fr">确定</a>	
    </div>
    <div class="time_con" id="time_bath">
        <p class="bg"></p>
        <div class="box col4">
            <ol class="year" style="top:-64px">
            	<li>一月</li>
            	<li>半年</li>
            	<li >一年</li>
            	<li class="on">一年半</li>
            	<li>两年</li>
            	<li>三年</li>
            </ol>
        </div>
    </div>
</div>

<script type="text/javascript">
window.onload = function(){
	var mySwiper = new Swiper('.swiper-container',{   
		pagination: '.pagination',
		loop:true,
		autoplay:3000,	
		paginationClickable: true,
		onSlideChangeStart: function(){
		   //回调函数
		}
	}); 
	cTab("#tab1","#con1");  
	cTab("#tab2","#con2");  
};


$(".btn").on("click",function(e){
	if($(this).attr("class").indexOf("on") >= 0){
		$(this).attr("class","btn off");
	}
	else{
		$(this).attr("class","btn on");
	}
});

$("#btn_time").on("click",function(e){
	if($(this).attr("class").indexOf("on") >= 0){
		$(".remarks").fadeIn(400);
		$(".mxh").fadeIn(400);
	}
	else{
		$(".remarks").fadeOut(400);
		$(".mxh").fadeOut(400);
	}
});

//////设置时间

function time_control(obj,times,viewobj){
	var htmls = {};
	htmls.hour = "";
	htmls.minute = "";
	htmls.second = "";
	var onindex = {};
	onindex.hour = 0;
	onindex.minute = 0;
	onindex.second = 0;
	var idx = 0;
	var tops = {};
	tops.hour = 0;
	tops.minute = 0;
	tops.second = 0;
	var line_height = 0;
	
	function gethtml(name){
		idx = 0;
		for(i = times[name+"_min"]; i <= times[name+"_max"]; i += times[name+"_step"]){
			idx += 1;
			if(i ==  times[name+"_default"]){
				htmls[name] += "<li class='on'>" + i + " 分钟</li>";
				onindex[name] = idx;
			}
			else{
				htmls[name] += "<li>" + i + " 分钟</li>";
			}
		}
		$(obj).find("."+name).html(htmls[name]);
		line_height = parseInt($(obj).find("."+name).find("li").height());
		tops[name] = (2 - onindex[name]) * line_height; 
		$(obj).find("."+name).css("top",tops[name]+"px");
	}
	if(times.hour_max > 0)gethtml("hour");
	if(times.minute_max > 0)gethtml("minute");
	if(times.second_max > 0)gethtml("second");
	
	var start_y,end_y;
	var canmove = false;
	var touch_obj;
	var box_height;
	var list_height;
	function touchStart(event){
		canmove = true;
        if (!event.touches.length) return;
    	var touch = event.touches[0];
    	start_y = touch.pageY;
		touch_obj = event.srcElement.parentNode;
		list_height = parseInt($(touch_obj).height());
		box_height = parseInt($(touch_obj).parent().height());
	}
	 
	function touchMove(event){
		if(canmove){
			event.preventDefault();
			if (!event.touches.length) return;
			var touch = event.touches[0];
			end_y = touch.pageY;
			var move_top = parseInt($(touch_obj).css("top")) + (end_y - start_y) / 16;
			move_top = move_top > line_height ? line_height : move_top < box_height - list_height - line_height ? box_height - list_height - line_height : move_top;
			var sel_idx = Math.round(move_top / line_height) > 0 ? Math.round(move_top / line_height) - 1 : Math.abs(Math.round(move_top / line_height)) + 1;
			sel_idx = sel_idx < 0 ? 0 : sel_idx > $(touch_obj).find("li").length - 1 ? $(touch_obj).find("li").length - 1 : sel_idx;
			$(touch_obj).css("top", move_top + "px");
			$(touch_obj).find("li").attr("class","");
			$($(touch_obj).find("li")[sel_idx]).attr("class","on");
			var return_time = {}
			return_time.hour = $(touch_obj).parent().find(".hour").find(".on").html();
			return_time.minute = $(touch_obj).parent().find(".minute").find(".on").html();
			return_time.second = $(touch_obj).parent().find(".second").find(".on").html();
			var t_html = "";
			t_html += return_time.hour >= 0 ? return_time.hour : "";
			t_html += return_time.minute > 10 ? ":"+return_time.minute :  return_time.minute >= 0 ? ":0"+return_time.minute : "";
			t_html += return_time.second > 10 ? ":"+return_time.second :  return_time.second >= 0 ? ":0"+return_time.second : "";
			$(viewobj).html(t_html);
		}
	}
	function touchEnd(event){
		if(canmove){
			var tops = Math.round(parseInt($(touch_obj).css("top")) / line_height);
			$(touch_obj).css("top",(tops * line_height) + "px");
			
		}
		canmove = false;
	}
	if($(obj).find(".hour").length > 0)$(obj).find(".hour").get(0).addEventListener("touchstart",touchStart,false);
	if($(obj).find(".minute").length > 0)$(obj).find(".minute").get(0).addEventListener("touchstart",touchStart,false);
	if($(obj).find(".second").length > 0)$(obj).find(".second").get(0).addEventListener("touchstart",touchStart,false);
	$(document.body).get(0).addEventListener("touchmove",touchMove,false);
	$(document.body).get(0).addEventListener("touchend",touchEnd,false);
}

var time1 = {};
time1.minute_min = 1;
time1.minute_max = 59;
time1.minute_step = 1;
time1.minute_default = 10;
time_control($("#time_bath"),time1,$(".t_bath"));


</script>
</body>
</html>
