<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0">
<link type="text/css" rel="stylesheet" href="business/style.css">
<script type="text/javascript" src="business/jquery.js"></script>
<script type="text/javascript" src="business/public.js"></script>
<title>美型网</title>
</head>
<body>
<header class="hdcon">
    <h3>课表</h3>
    <a class="set_up">添加</a>
</header>
<div class="zskcbox">
	<div class="list"><img src="business/zskctu1.jpg">
   		<dl>
       		<dt>零基础综合适应性训练零基础综合适应性训练</dt>
           <dd>课单价：￥500/90分钟</dd> 
       	</dl>
       	<em class="hot">热门</em>
       	<div class="confot">
        	<p>教学方式<span>1V1</span></p>
       		<div class="fl"><img src="business/kcico2.png"></div>
       		<div class="fr">关注度<span>132人</span></div> 
       	</div>
   	</div>
	<div class="list"><img src="business/zskctu2.jpg">
   		<dl>
       		<dt>有氧运动训练</dt>
           <dd>课单价：￥500/90分钟</dd> 
       	</dl>
       	<em>推荐</em>
       	<div class="confot">
        	<p>教学方式<span>1V1</span></p>
       		<div class="fl"><img src="business/kcico4.png"></div>
       		<div class="fr">关注度<span>132人</span></div> 
       	</div>
   	</div>
	<div class="list"><img src="business/zskctu3.jpg">
   		<dl>
       		<dt>无氧机械训练</dt>
           <dd>课单价：￥500/90分钟</dd> 
       	</dl>
       	<div class="confot">
        	<p>教学方式<span>1V1</span></p>
       		<div class="fl"><img src="business/kcico5.png"></div>
       		<div class="fr">关注度<span>132人</span></div> 
       	</div>
   	</div>
	<div class="list"><img src="business/zskctu1.jpg">
   		<dl>
       		<dt>拳击训练</dt>
           <dd>课单价：￥500/90分钟</dd> 
       	</dl>
       	<div class="confot">
        	<p>教学方式<span>1V1</span></p>
       		<div class="fl"><img src="business/kcico1.png"></div>
       		<div class="fr">关注度<span>132人</span></div> 
       	</div>
   	</div>
</div>
<!--底部-->
<div class="ht70"></div>
<footer>
	<ul>
    	<li><a class="nav1"><i></i><span>课表</span></a></li>
    	<li class="cur"><a class="nav2"><i></i><span>在售课程</span></a></li>
    	<li><a class="nav3"><i></i><span>订单</span></a></li>
    	<li><a class="nav4"><i></i><span>我的</span></a></li>
	</ul>
</footer>
</body>
</html>
