<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0">
<link type="text/css" rel="stylesheet" href="business/style.css">
<script type="text/javascript" src="business/jquery.js"></script>
<script type="text/javascript" src="business/public.js"></script>
<title>美型网</title>
</head>
<body>
<header class="hdcon">
    <a class="return">返回</a>
    <h3>订单详情</h3>
</header>
<div class="ztbox hui">学员信息</div>
<section class="tb_bor listbox" style="margin:0">
	<dl>
    	<dt>姓名</dt>
       	<dd>林思聪</dd>
   	</dl>
	<dl>
    	<dt>手机</dt>
       	<dd>13636656595</dd>
   	</dl>
</section>
<section class="tb_bor listbox">
	<dl>
    	<dt>万江磊<i class="woman">女</i></dt>
   	</dl>
	<dl class="order_form">
    	<dt><img src="business/touxiang.jpg">
        	<h3>零基础综合适应性训练</h3>
           <p>课单价: ￥500/90分钟</p>
        </dt>
       	<dd><img src="business/kcico2.png"><div>x2</div></dd>
   	</dl>
	<dl>
    	<dt>课程总额</dt>
       	<dd><span class="orange fot16">￥1000.00</span></dd>
   	</dl>
</section>
<section class="tb_bor listbox">
	<dl>
    	<dt>优惠券</dt>
       	<dd><span class="orange">￥299.00</span></dd>
   	</dl>
	<dl>
    	<dt>美豆</dt>
       	<dd><span>已用30美豆，可抵扣<span class="orange">￥30.00</span>元</span></dd>
   	</dl>
</section>
<section class="tb_bor listbox">
	<dl>
    	<dt>实付款</dt>
       	<dd><span class="orange fot16">￥671.00</span></dd>
   	</dl>
</section>

<div class="order_con">
	<dl>
    	<dt>订单状态</dt>
       	<dd><span class="orange">已付款</span></dd>
    </dl>
	<dl>
    	<dt>订单号</dt>
       	<dd>2015042814450001</dd>
    </dl>
	<dl>
    	<dt>成交时间</dt>
       	<dd>2015-4-28  14:45</dd>
    </dl>
</div>
</body>
</html>
