<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0">
<link type="text/css" rel="stylesheet" href="business/style.css">
<script type="text/javascript" src="business/jquery.js"></script>
<script type="text/javascript" src="business/public.js"></script>
<title>美型网</title>
</head>
<body>
<header class="hdcon">
    <a class="return">返回</a>
    <h3>订单详情</h3>
</header>
<section class="tb_bor listbox">
	<dl>
    	<dt>万江磊<i class="woman">女</i></dt>
   	</dl>
	<dl class="order_form">
    	<dt><img src="business/touxiang.jpg">
        	<h3>零基础综合适应性训练</h3>
           <p>课单价: ￥500/90分钟</p>
           <div class="yfkbox">已付款</div>
        </dt>
       	<dd><img src="business/kcico2.png"><div>x2</div></dd>
   	</dl>
	<dl>
    	<dt>共1节课时</dt>
       	<dd>实收款<span class="orange fot16">￥1000.00</span></dd>
   	</dl>
	<dl>
    	<dt class="orange">已付款</dt>
       	<dd><a class="but">查看订单</a></dd>
   	</dl>
</section>
</body>
</html>
