<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0">
<link type="text/css" rel="stylesheet" href="../../assets/stylesheets/business/style.css">
<script type="text/javascript" src="../../assets/javascripts/business/jquery.js"></script>
<script type="text/javascript" src="../../assets/javascripts/business/public.js"></script>
<title>美型网</title>
</head>
<body>
<header class="hdcon">
    <a class="return">返回</a>
    <h3>选择课程</h3>
</header>
<h3 class="zth3">学员的课程</h3>
<section class="tb_bor">
	<ul class="choice_list">
    	<li class="cur"><img src="../../assets/images/business/kcico1.png">力量瑜伽<em></em></li>
    	<li><img src="../../assets/images/business/kcico2.png">燃脂普提拉<em></em></li>
    	<li><img src="../../assets/images/business/kcico3.png">双人舞<em></em></li>
    	<li><img src="../../assets/images/business/kcico4.png">基础有氧<em></em></li>
    	<li><img src="../../assets/images/business/kcico5.png">器械锻炼<em></em></li>
    </ul>
</section>
<h3 class="zth3">学员的课程</h3>
<section class="tb_bor">
	<ul class="choice_list">
    	<li><img src="../../assets/images/business/kcico6.png">我的其它课程<em></em></li>
    	<li><img src="../../assets/images/business/kcico7.png">心灵瑜伽<em></em></li>
    	<li><img src="../../assets/images/business/kcico8.png">活力杠铃<em></em></li>
    	<li><img src="../../assets/images/business/kcico9.png">有氧综合<em></em></li>
    	<li><img src="../../assets/images/business/kcico10.png">跆拳道<em></em></li>
    </ul>
</section>
</body>
</html>
