<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0">
<link type="text/css" rel="stylesheet" href="../../assets/stylesheets/business/style.css">
<script type="text/javascript" src="../../assets/javascripts/business/jquery.js"></script>
<script type="text/javascript" src="../../assets/javascripts/business/public.js"></script>
<title>美型网</title>
</head>
<body>
<header class="hdcon">
    <a class="return">返回</a>
    <h3>邀请线下学员</h3>
    <!--<a class="set_up">修改</a>-->
</header>
<section class="tb_bor listbox">
	<dl>
    	<dt>学员姓名</dt>
       	<dd><input type="text" class="inp" placeholder="请填写学员姓名"></dd>
   	</dl>
	<dl>
    	<dt>手机号码</dt>
       	<dd><input type="text" class="inp" placeholder="请输入学员手机号码"></dd>
   	</dl>
</section>
<div class="ht70"></div>
<div class="footbut"><a class="qrks">确认</a></div>
</body>
</html>
