<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag 'web/web', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'home/jquery-1.7.1.min', 'home/jquery.touchSlider' %>
  <script type="application/javascript">
      $(document).ready(function () {
          $(".main_visual").hover(function () {
              $("#btn_prev,#btn_next").fadeIn()
          }, function () {
              $("#btn_prev,#btn_next").fadeOut()
          })
          $dragBln = false;
          $(".main_image").touchSlider({
              flexible: true,
              speed: 200,
              btn_prev: $("#btn_prev"),
              btn_next: $("#btn_next"),
              paging: $(".flicking_con a"),
              counter: function (e) {
                  $(".flicking_con a").removeClass("on").eq(e.current - 1).addClass("on");
              }
          });
          $(".main_image").bind("mousedown", function () {
              $dragBln = false;
          })
          $(".main_image").bind("dragstart", function () {
              $dragBln = true;
          })
          $(".main_image a").click(function () {
              if ($dragBln) {
                  return false;
              }
          })
          timer = setInterval(function () {
              $("#btn_next").click();
          }, 5000);
          $(".main_visual").hover(function () {
              clearInterval(timer);
          }, function () {
              timer = setInterval(function () {
                  $("#btn_next").click();
              }, 5000);
          })
          $(".main_image").bind("touchstart", function () {
              clearInterval(timer);
          }).bind("touchend", function () {
              timer = setInterval(function () {
                  $("#btn_next").click();
              }, 5000);
          })
      });
  </script>
  <title>美于型|健于身</title>
</head>
<body>

<%= yield %>
<!--footer-->
<div class="footer">

  <p>www.e-mxing.com 2014-2018 © All Rights Reserved.</p>

  <p>沪ICP备14049249号-1</p>
</div>
<script>
    !function () {
        $('#mm_downloads_rightnow').click(function () {
            $("html,body").animate({scrollTop: $("#mm_downloads").offset().top}, 800);
            return false;
        });
        $('.sec-3')
                .on('mouseenter', 'li', function () {
                    $(this).addClass('on');
                })
                .on('mouseleave', 'li', function () {
                    $(this).removeClass('on');
                })
        var index = 0;
        var d = -1;
        var n = 3;
        var t = 300;
        var $img = $('.scroll-img');
        setInterval(function () {
            if (n == 0) {
                n = 3;
                d = d * -1;
            }
            index = index + d;
            $img.animate({left: index * 200 + 'px'}, 350);
            n--;
        }, 2500)
    }();
</script>
</body>
</html>

