<!doctype html>
<html>
<head>
  <meta charset="UTF-8" content="<%=asset_path("")%>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0">
  <%= stylesheet_link_tag 'share', media: 'all', 'data-turbolinks-track' => true %>
  <title>美型</title>
</head>
<body>
<%= yield %>
</body>
</html>